<!-- Kalahar, M. (2025). CIS 530 Intermediate Java Programming. Bellevue University. -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BookClub | Add Monthly Book</title>
    <!-- Bootstrap StyleSheet CDN -->
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
    />
    <style>
        .save-button-container {
            display: flex;
            justify-content: flex-end;
            margin-top: 20px;
        }
    </style>
</head>
<body>

<div th:insert="~{fragments/header :: header}"></div>

<main>
    <section class="py-5 container">
        <div class="row">
            <div class="col-12 text-center">
                <h1>New Book of the Month Form</h1>
            </div>
        </div>

        <br /><br />
        <div class="row py-lg-5">
            <form action="#" th:action="@{/monthly-books}" th:object="${bookofthemonth}" method="post">
                <div class="mb-3">
                    <label for="isbn" class="form-label">ISBN</label>
                    <input type="text" class="form-control" id="isbn" name="isbn" th:field="*{isbn}"/>
                    <small th:if="${#fields.hasErrors('isbn')}" style="color: red;" th:errors="*{isbn}"></small>
                </div>

                <div class="mb-3">
                    <label for="month" class="form-label">Months</label>
                    <select name="month" id="month" class="form-select" th:field="*{month}">
                        <option th:each="m : ${months.keySet()}" th:value="${m}" th:utext="${months.get(m)}"></option>
                    </select>
                </div>

                <div class="save-button-container">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>

            <a href="/monthly-books" th:href="@{/monthly-books}">Return to monthly books</a>
        </div>
    </section>
</main>

<div th:insert="~{fragments/scriptFooter :: scriptFooter}"></div>

</body>
</html>